body, ul, li, p {

    margin: 0px;
    padding: 0px;
    list-style: none;
    font-size: 1.2rem;
    font-family: arial;

}

h1 {

    text-align: center;
    margin-top: 100px;

}

img {

    max-width: 100%;
    display: block;

}


.header {

    background: #1d1e20;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
}

a {

    color: white;

}

.menu {

    display: flex;

}

.menu li {

    margin: 10px;

}


.menu li a {

    display: block;
    padding: 10px;

}

.conteudo-secao {

    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
    margin: 0 auto;

}

.conteudo-secao > div {

    flex: 1 1 200px;
    margin: 10px;

}